/* Файл сгенерирован с помощью icon_generator */

.icon-protocol
{
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* mailto */
.icon-protocol_id_mailto
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEfDy4RPYWlywAAAWhJREFUOMvVk00rRFEYx3/3zrgz42WmGRNjpIwMSuQtakSkyAILRdlZsbTgU/gA0hgLRVnYWNyRmpJPYaWJOy8LFDIz3XudazGZujOxsHNW5zw9v9//OZ0O/PslAewd3ll/gfe3+iQngCyBW3GwvdRBKOD6FXr9MDm4fODl3QBABlDqZJZjLSSSGs9v+o9wSRckkhojUW+lJn9vRqJepgcDHKkZ3gtmDWyYZTgS8jA/FqwVAEwN+BnsaiKuapR0UakLYXGayuFvdLIy2WoTy9VJi+NBIiEPx1cahimwgPObPLohWJ9tQ5bs/c5qgbDKiW8fJqepHEGfwn2uQLjZhRDgqIq0HT+FxVkqi9vlYHctguKUyDyV2FntpLejgUTSfjXbBLopOLnO0h2uZ2YoAMDGXLjSGOv343E5iKuPbC602wWfAo5UjdEeHxN9vh+fcbjbi1uRiauaXWCYgnS+SDpf5OI2/88+0xcQzni+inT46gAAAABJRU5ErkJggg==);
}


/* torrent */
.icon-protocol_id_torrent
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEfDyY6WeDWgwAAAhJJREFUOMulk09Ik3Ecxj/vEESkrYE7OIMmMxCyJroKQholRUVQiBWU0PKiXbp5WyAZ9O8eDSGMiqLozy1DSnfp4hyvlzTIuSJmNNjcK+wNSp4OvcrmpA49xy/P5+H7+/F8YYMkRSVNqVpTkqIb/UYZGABeAaH5VJbk208VxnB3C60dfoBZ4JRhGJn1AAc2rYLticfGWUgusZmC4UYGrh3F7a0rAu2GYWTWAkyrYIduD74glynyN/kCHobu9uD21s0ahtHuct4VisfGK+BtO30c6e+kLbK9IiCXKRKPjQOEJEVdQHQ+la1Y++Tl/cTunaZnYB/+YEPVFgvJJeZTWYCoC4iUf1hXbxvHzrczk1gkfuUNAOdih+jqbaMh4Fn3OUzEVZ5cW19D39ABZhKLvLzznhP9ezl8NkS9u5aDvbvw+OrXvYXcCgA15QE7wk0AvHs2y6UbxwEY6XuMlbOrnuH1bQGgYoOtznBhOktTs5dvX5Y3hcvlAhLh7paKodtXx7/kMAkXMNba4ScYbmTpcx6A3ZEgrx+ZdEaaCe7xb1oop5VjazU2i/mSYmce6ms6L6tg6+qFJ5pLZSVJc6msHtxKaOTiU40OT+iH/VOSzPIDCkhaLuZLun99UpJkFWzdHHyu0eEJJafSsgq2JGn116okrTj1Z2OIKUnpD99l5Ut/gvIlTU+mlfmYW7tKswr+n3P+DTbBSFnT3Y6nAAAAAElFTkSuQmCC);
}


/* skype */
.icon-protocol_id_skype
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEfDygFcQXWMAAAAkhJREFUOMuNk09IVFEUxn/3vucbx2FyZAIVZjAEK8IyjGgTBtEmN9ZAY9CyvW2C2kW7giDcRRH9WZnBUEGrwCiioogIpIgh0ymccLSeOn/fn3tb6Iy+QaizOvfcc7773e+7VwCQsUeBCYKxg1Rsjn+EIGOPhqWYuLK3lb6IpORrni143J1zcFSg9zSp2IOtAPT4QLgxvOJqchVNvqooOJqa0lRdmK8pZkoKRwWZmUBgeKasKdQUZ5IWibBgxYV8VXFrziFqCqaX1WwlYzdAJEDJ15R9TcHRLHuKa/2tDMUNVty1U453mtwbDJNok/REBJZkts5AArxY8rBdsF3NwZhB1BTc/+Ew8rZE+l2Jq9karoaQBF+DgagLjyBjJ8NS5C7tCfGzquiLGIz1Wqx6mjs5l2zJ5/aM2xDNR2+Im4oJsW6jvrgrRNHXfLYVY30WI10tjaFVTzO16HHiTTloQSomzHr+29E8L3hki4qpRY/dUclowuJQh8HhuMFIVwvjA2HOfaoEMOTmRbaoGO42+Xg0yrILl79UGX5d4vx0FYChuBlkkLF76pX0ze/OZL1pf7vk1ZEI17/VWKxpLuwMAfByyWt+R7OinlmPbB01BWUPbgy2crK7hajZ2ObxL5ezHzboW1KQryrEJjrJuCVyvRGJ7WoADnQYbA8Jnsx7tBkEAAHe//ERTXdKhqXI9bdLEm1r8oQk1NZtC21SbKGy5ozY8otl7FPA5AZdONZpsm+bAcDXouJp3sVRpAX/Exk7CeSaqmlSsYd/ARVC/mXGuYsmAAAAAElFTkSuQmCC);
}


/* tel */
.icon-protocol_id_tel
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQTDRAUjZiunwAAAIpJREFUOMvVk0sOwjAMRJ+5XyOZC7DqmZCSKyCQeirO0M2w4JuSULOs1/PGo3ECmx+LiFLZCwTANF4qZrcGD9lf8N3MFTZIuRYDnA7HL5NObFcqrqdJKq55vioED/kBL8Qt2FqbEWDGNJ7tryt8bli23Zu6RIHUj7tuYO9I4bZbjybc9q8Tbucz3QDmDkUBDR5rXAAAAABJRU5ErkJggg==);
}


/* rss */
.icon-protocol_id_rss
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEfDyk5R3Gb9gAAAkdJREFUOMutkk1IVGEUhp/v++6de5u4RSLTEOYipUhEUsMocpeLGIU20UKsRS3auepnF0Gbaj0u3AUFIRWISUVEUYsM8i8jhyiyHBNRZ3Ty587ce7/bYqZwMNrUuzmLc87zwjkv/KMEwKcO4iH065A4sEWAFqLU/MM8MAMkageYNQBC6JfxPS2up6k4dhqRz6EzX2A+hWkpLEuiLIkyFVJqQMfSTycGgaYiIGSfHwpU9X52dV4ts1x79xBvKIkKMpimBCXBdwEaAQwAIZCGJTGMgJnbFxFSoLbHiNY04zS0Q0M7hZFb6LFepJAgrd8GRqlqaQr8pW+Eiw54WfT0MsuTfax+aGXHkbNYTWfwIja87SHUwSYASAgrq6nqvgeA+/kV3sRd3PRL5vrfE+u4iV1/ivybHsLcwsa1osyIwooELD5PsjTch13TinMiiXPgJFY2xcKjK8XB+i581y8HCMDeauKQRQ734D65xExvgvWp19hHLxCtasZPj5B5kcQ6dA6vIMoBOgQdFtDuPIafxbE8IpkJ5h50AxBpOQ8B5DOzAIQVdeWAIISV9SxG2zWcy9+x2q5jRxTk5siN3sfa24awd+KtrgAQGBWbAMIDonXHi5dt6ESGAkMIvMUpAJRdCaXjq3h9+ReUQEZtxVrqMdsOduGN34FAYEmJTj0jMzWGnp4kyK6SvtHJ2vgQamO2P7YzEju8uxFTIRCoUKA98PPgFUAXoLAOngtBHqQIED++jtYOlKIsBYmFoenBX/H8m0rOo0CC/6Gf6mvbj1azQkMAAAAASUVORK5CYII=);
}



/* Файл сгенерирован с помощью icon_generator */