/* Файл сгенерирован с помощью tools/icon_generator/ */

.icon-interest
{
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* мобильная связь и интернет */
.icon-interest_id_1
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgo0GsrIAewAAAEvSURBVDjLjdM7S5xREMbx37xs0gQvTYp0pkoploqF4pcIpAhBRBDxQlBsrVzYRlLFgJWVIAbSRay8ZEE/gIVYWJtCP0DOWGRDRNjd94FTzDPDf+YM50RuOMWk7mpH00S3ZCVNSiTRFNEU0vA/TxrvAdeQ/4Nc70SptiLX3EfLcLeCXJPYwwxe4zeOsRktN5XSp0VB0VaMRctLxTvFqeIkPxtt1AJwix+5qlL8wissY6vR975/84f4iBu0sY/v+FZ3gov4Yh9yyR0uUSHqAq4gF40o3uAC73FeFzCdC6YVGx13CouYqQv4iZXOLv7gLabiq+u6SzzBUex4wE7OG8R2zhusO8EHbOecAdwrXuAAC5Gz/R9u7Ipen8mT8xC74pnXU5V09qR4KD/JZ4DzXoBHxWJ5x9Y9+mYAAAAASUVORK5CYII=);
}


/* автомобили */
.icon-interest_id_2
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgozMSk1bmsAAAEmSURBVDjLrdK/S5dRFMfx1/3yrUahVShcanUSFfmCUwXuhSCCi4sIDzY4SaCLQ4JLBA9F2I85wiFBRP0fQtoc/AMc3O5zOQ6aBpaPWG/4LOee87nnHE7yO1+ig37c8WcKjkym8iuQLp4+xl3sYsT1/MCYqXQMnYtw47nGo3Pd/4seaNzTmL3qW8e+Ol5ro46X6vipjnTZwZt4LBuTvW81yDZkA7Le2Q7W4yHeoYc9N2MYB5jpanzAKNYwjqGW4hN8xQS+dWSDsm0LaVFWybRo1UKakq3IBrqyhJ7lmJc9vUH7TyzHtuzZ2Q6W4hh9bklX9k90NV5hGoM4xNuWmhdXc6v4rIpQxW7rl1V8Os/dvzykYkdRFJutBsWWolF8v/3gc5H8L04BrPJxr1rTgL8AAAAASUVORK5CYII=);
}


/* B2B */
.icon-interest_id_4
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgoxHrDSMbAAAAFBSURBVDjL7dG/S9VRGAfg58ilQqgxhKCpDByiUsiGSHIKLi6Fg4NDitIWguBUYwS1lg13uXBBwqlEuIbkhdZwcwhEQhwkcskozvfQcegI9uMfCPrAC4eXh/eF9/DPJ+Q1U+X9HR/DkM7fYF5zE+fwA5/xJgzZD3lV/s3OhWGP/xiwqoWxI611DHRJSK5LuiVPJXcgtw3mtlZum4TinktqkmuSy5ILNRU4iRPoxjaojOIRlvKSVnHHcQrHUGG3S0S0LNoT3RO9gFA3Izot2gl134q7W1xHtBjq9moieIAt3MazvKAXV0RPMALFraCB83iYF8wfDngbxr3LTRt4jx7M4yw6uelScZth3EvITWO4eniDkdxwUeUWvuBTmND/yy80QF9umMIZlV58qElgtrhd3A/TZd/R/HQ3Sn3FK7z2Pw4A8v91HG5o9gQAAAAASUVORK5CYII=);
}


/* финансы */
.icon-interest_id_8
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgoyBGadmwkAAAHXSURBVDjLjdJLiM1xFAfwz//e694pIsrOyIyRxxiyEYoRMVlQFmyEhZUiFh5hY0VMiWQxmVnYTLMRNdFoMiVLFp555ZGN0mBkoTG/mWPzv7rGiG9965zTt/P4djLjsPROZQX2YhNm5uUh3MWlh63Dt2r1WTVYMlCpw0Xsqa1PgF7serRueOhXg5b+SgV9WOv/8AyrH28Y/lSASHEqUqyNFGoY4/JaLowUXZA195Yb8Bzlp5t/ZNDcWy6ghJM4hpfYhweo4Aj2o7UUKXagXN1t0bVJESlGcBpncQhb0I7N+IhlWIydpUixpva4SAFjOUfz7d7hYM7O3IOpqC/FiPrf3NmWMljQXZqC7lzYgnsTmDmrFCPxvbYy/0rxM8RITM5Pe4wnmJtLbmJ+Hn8vjSWvsezVntEMXuwenVFtNq+rOIQ6rMLtmjn3UUQUIkVfpNDUUQho6ihElZFiWqRojBSDkeJcpBiLFEORYm+k+BopbhQi6YnkQ6SqiX+wGMnVSPojWR5JWyT7IlkZSVcGjRey7ej5xwuPx4k3B+JUEb70eTp9Y/ZDWC/4D14Wjn65NW5iQ7utOI/Zf5k6iOPofHtYmGjlOWeU849ryxtNwnsM4Pq7o77V6n8CFyD24olpIV0AAAAASUVORK5CYII=);
}


/* семья и дети */
.icon-interest_id_16
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgozBQiBmt4AAAGPSURBVDjLjZIxSFtRFIa/hEAdFLtUioM0QwZRAoUMdXCodBBDTRGUR9KpYiglFqTSpUvf4NLF0sEiuJWsQga7ZFBQdBeDZCjNUgm4BFNK7r3nvbq8JzdPhXfg53D+c+7P4T8XYkbO7W7k3O5Vzu2+s/lkXAHfk4LvyZDvyUubT8UWEHkDOMC2zSfiPJ78eFED5oPyH/D17Mvop1gC42utZ8DJHa3n55tPDvo8yFSay5lK80+m0vwQcmLUmhh1KUZh4bcY5d4yUbRyRKtR0aoEkC6fjolWC6JVQ7TCwrFoNZUun870mWi0WgdWgB9BvQocAY8i6z8FvgHujQePS4cvgHpQ9oBfgA98B7bu8GAKKCat9V+LVlfBigOiVbZdnc6KViOR9UPMtqvT71MADwt7D0SrYfsqnVreD4SX7jnQIvA5FTidBRrAq+hUp5afABic2/3/9+dCIsx9X1mMHhSjd8RoQkQj5KK9JECv7uz36k7LE0Ov7iQ8MbcEQi7aS8YZii3ge17RzpHe2yCXbf4a9KH13rYhqsoAAAAASUVORK5CYII=);
}


/* туризм */
.icon-interest_id_32
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgoYDAct3xMAAAD4SURBVDjLndIxS8NAFMDxX0NRQxUyODu5uYpzJkfddXFzqOhHcPEbid9CBBEEQZC6ZCmIo8NdHRrbNE1a2wfH5eXe/d+fu2NBfHFkSSSLFkf0rRtDdof8LKvrti1ELrGxVveCbsGgYFTm+UpnEDmN7MVpfrsSIHAVxvNfnn+2WMwBPjgI5DWA0GKRNHS/DtNNVUD+3mAxA3gjC5y1ABotklr3i8D2AkD+WrOYAF5IAv0wu6EOmLNIKld3HNmP4+/JUMsj+XPFotN0sk9k2EQPO9gq5175P0OKQQcex1o3ZWH6zwf7gPOkVLyL3EfSOK9cH6Oy/uSQ718FeWWHGSTkHgAAAABJRU5ErkJggg==);
}


/* премьеры фильмов */
.icon-interest_id_64
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgoXIlxjzhMAAAC5SURBVDjLrZO9CsQgEIR3j3ucdBZC2hSCZSBFntDOMl3adHa+jX/XXERlQ867m2Zl+RiZQRHeWtc1QYeUUggA8DwXMUb4ScuypHJ+yjzOQwgB5nlOIYTLSygmG3jvQWuN3vtLA4rB8yCl7Cpx2zasFkKIVE5KFFNFmKYp3UVomWzgnIN939E5d2lAMTnHOI5dHRzHUXfAOU/lpEQxVQeMsdsOWqYyMMbcvoOWyTmGYejqwFr758/0rV7LuYrFiR3FLgAAAABJRU5ErkJggg==);
}


/* фото */
.icon-interest_id_128
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgoWBeBySjkAAADtSURBVDjLxZIxSwNBFIS/lTMRu9j5H8TC/xM4T5FtJGlSWAuaaHOWcngc+Jds/AXpkjbk5l1stjiSPTEI+mCKnZ2dfW948N/lYmRVVZsYn6bpjj6JCZum6fyxLMsFQJZlJwCuKIpb4A44aukGHe+Xrbs58JiY2TPQ/+HIbeNTYHogqS8J773z3jtJSFpLGkkaBIwCxxaOXZ7nscDGwCfwFs5XwDkw2wmxrutYq+/AR2gToATOogaSfrUHXQZD4BJ4DbtyA1zvY/AETIALYBMM76MGZlYDh1t8D3gJ+K5WiZk9hEXq7Tn+Ohbq39cXLMFoj+fVIMYAAAAASUVORK5CYII=);
}


/* строительство */
.icon-interest_id_256
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgo0N48XXZkAAAGESURBVDjLrdIxaFNRGAXgL+lTVOJQwUoRB+NUEKFFcRDaFAml2oDSguCkm4oORRSx4Cg4dNRVFxdxkOBgNh0KFqSDGYpLEOyggeJSIr7nu3F5kSB5VcEDd7j/uef85977F/wDuhZGcRZnUMKFwnaCH+aLOI65TDiOfs16tJ1BKjzEld/KX9DEYYzlJthybhQtbOAR3qNZ8qKd8U9xMTdBIixiF24Oq9cH8GCgQdvccCJcxeqIl/WcBqAIG2av9ZOx9EYsLcXSu3kJY6lY2olaZvbFwljLzA5MYzwWan0PlWMQoF1MhDuJcD0RphPhaFnjQVnjRFnjWCKED6q7866QCJtRLNzKag18azq91dflIBZxf0CCDj4X1lS6fzGErya8nu1t1lQKeIf1qPeaf0Bl1eQQRrCQCFVMYChKdBN0sDlAuBf7sRMHsimsoZrxe6JUmMdlPMczvMWl7Isf4/aUlSc9xzdO1XAPR7Acpbof8RWHcD4b3ZPZ+U/Z+oUpK9+x5H/hJ+6uhKhMKvt4AAAAAElFTkSuQmCC);
}


/* кулинария */
.icon-interest_id_512
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgo1JBKyLQYAAAEtSURBVDjL1dI/S5xBFIXxn8GIhY0SwSZd4h8Q7NKILouQSgmoYKvYWAhBMWU+gFgJgoIgCEKwsgjERlkQRbQRS0UEt0kEMWBjMTua5hWG9RW2sMmF4XBg7jOXc4f/vupSc+GggH0MYAd9Vb7wQW8p7alPzYM4ijuM4Q9GMj+a+Ylze1ft+i9zJzhTasUtWl7QVlx3KD4+9bxJAVFlskMxJjpb5cfT5jxATZob4qmfBWyh+YXA73GDXz2Gpp5NEIXPUWiMwnYUjqIgOeUodEbhYxTacrdQEcro+mTsCo5tFjGI31jHd/TgWy4gCmuYO7TxFXdRWMBytoFVfMmuDuL4GeBBpTuhv8N8VQZ/M21/3a9cslLG++SFWqoJb3FSB7uWGvADwzUCFjEzYPrxH6XAdzc1boWPAAAAAElFTkSuQmCC);
}


/* программное обеспечение */
.icon-interest_id_1024
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DEwg4AH70yrMAAADQSURBVDjLrdFBSsNgEMXxX0JWQkVxKaHBI7i2FvcuPYCX0KN4mEpbqbj3AIJduXCnFgQhGRcmCJJFUvNgYGDm/773MQkU93GHE7zrpl08rCfJNAMRUxytT9PnLnSxqgr87o5XZeiphkl/ElR6q2aGMQjRn6+ZgRJEJV9sxl3ZfLEpojaoz1jCUz5/++j2ejlq2qxJUPf7f1YneMEjRm1edYJqibOW+Q2+sNMyWxpCyeHs9QAz7PVkP3GeieoKx1sGuM5CXP7jBxepiLkIW9btN4D+aeYvSNOKAAAAAElFTkSuQmCC);
}


/* недвижимость */
.icon-interest_id_2048
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DEwg6AEzCqDEAAAEGSURBVDjLjZM/a8JAGId/xhvEQRrBwU3M4t7JxaWDW6FfpRTEghIRhX4aZ1f3fgChkdKlSGlaHXPJ+3ZIotdwuctveZ6X4473/tXO64cQwA/SuCVebz1vetDltLrnCv6LkjjMyaWo4sXUwuWYARyyul/i9fZsq9/C9+KObW6KIJaXQudf/ijUzGsAiDr+7sYhkjjOh8FxPgyKDgBE0u34u3aBzXxcEEfoLl89APic3bLqaScRTHQSuratcxsFUYSP6SBI2/3vVSiIJHovgQcA7xOPVc/OACY6tluwURBJvD11w3xV1atQMMf5x4HyiZRnHBspKJOyEMfYP7qs4SnrIDEuYBv/A5W3FKi9D5lQAAAAAElFTkSuQmCC);
}


/* здоровый образ жизни */
.icon-interest_id_4096
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DEwg7IoC52JQAAAEsSURBVDjLndK/S9VRGAbwz7ndIIMgCUmcjCgKWtqCJsF3cVLQTcGmprBRh0CwZgf/g5bob3i3hJZ067YYuAQF5tAWIp2Wr3C53etXe5aX8zzved4f5xQtqBHbmMdeyVwa1Lva8bKJ08PE7jmVr+MReniAdw1/FUcl8+ZQgxrRwXssDkh7NeIOPmDljCwjqlesYhlPMdYnvy6Zr9pGuIcDTOJHw31F4o2LoEbcaOL3GnE8Kq+0mNzCTyiZQ3M7LY086zObGGlQI2ZqxH6NmO+70MWL5virWeq/I9SIgi+4jz84xA5uYw0P8REVd0vm6WAHV/Cp+Wnj2MQW1rFRMr/hCaYw639RI3ZrxNvLLrEfz7HQ7OZizzikix5+4xoel8yTziUnOcVnzJXME/gLJ7hUNnvvJ5YAAAAASUVORK5CYII=);
}


/* литература и учебные материалы */
.icon-interest_id_8192
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DEwkAOTeslHcAAAECSURBVDjLpdPBKkRxHMXxz82QNJO8gNSMkkcgyht4ArYWJikLCw9goW5iJSVlac/CxhvIxsJcCxsraQZDMvdvMRhphunOWf/Pt3POr38Eo5vFMexjBgO61O16EuVACIeYlUE5iNIwncEbvgFC2pcBUGsB0lRWfVboFdAIvQGkDT2NGDUyVWg74gte/zHm0d9uxAMsJVsPb52cxbWROZzgDEetBM0KG0lcfSuuDndetPmuhvkkrj7/TPCOO0jiatTJX1opXCBUth+ff10hRJjAVamc75wgDXBfKucHKztPrxDB+PLQOd6xgPofA07iFJc4vt6tx18JFrGHmy6/8xQKiD8APmVZppAdD7AAAAAASUVORK5CYII=);
}



/* Файл сгенерирован с помощью tools/icon_generator/ */