/* Файл сгенерирован с помощью icon_generator */

.icon-source
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Внутренние переходы */
.icon-source_id_-1
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAMAAADH72RtAAAA8FBMVEUAAAB0wAB4xAB4xAB5xwB5xwBhoQBssQB6yQBssQB6yQBttAB8ywB8ywBxuQBemwByvAB0wABkpQBnqQBgngB0wAB4xABprQB5xwB5xwBssQBnqQBxuQBprQBkpQBemwBhoQBssQBttABwtwBgngBzvABzvQB1vgB2wAB3wQB5xAB6yQB9ygCE1QCJ2gCE0wCG1gB0vABvtgBvuABtswBtsQBxugByvAB3wgButABpqwCK2wCK3ACM3QCAzwCC0QCD0ABdmQBrrgCF1AB8xwB/zQBusgB7yABzuwB/zACH1wCI2AB8yQBrrwB4xABmpwCfnABRAAAAG3RSTlMABhcdMz5PUlJcYYSElK681Ofo6Ojs9/z8/f6o80w3AAAAsUlEQVR4XlXI1RaCQBRA0WsHduvMECOIIHZhd9f//40MqEvO01kbPsXi4C7caERd4C81m+XAH3gLq8VsWfD9wJM+zFu3jpH3fCVl3MesZ+oDiVML24PrCRs42r6alB3VKWdBRLp0dqrERNJrlRBAkdTaXQIsok1IkQ1aIwuyCJCKwI7XMgCZ45B/KLwjoiFC8FVXlTMWHZH3WxlyA2WEq7Ijgm5OheQU96s9wZHNXxa8AeGqFnt7dHCIAAAAAElFTkSuQmCC);
}


/* Прямые заходы */
.icon-source_id_0
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAMAAAD+iNU2AAAATlBMVEUAAADPxgD/9gG8tADUzADk2wDp4ADx6QD57wD88gDZ0QDt5ADc0wDg1wBzc3P///+Tk5PRyQD89mf+9QD06gDv6VrPxgAAAAD/9gFeXl7P9aNbAAAABHRSTlMApsLO63YdMwAAAFlJREFUeF5dzDcCwjAQBdGP2KjoRLr/RakMK79umsFVekcJ+ww+pcP88+eGw/o4PeyAah+vs1VRSuhSIBJaBMyhmdFq6NpQc/jnikzL9kMZtEaEdYbbM7p/AfC9DlZsjxftAAAAAElFTkSuQmCC);
}


/* Переходы по ссылкам на сайтах */
.icon-source_id_1
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAA7VBMVEUAAAA/ZP87Yf86YPw6X/g6X/I6X/I6X/I7X+47Xuo8XuQ8XuQ8YOA9XttXjf87X+5Faf87YPdSh/9Uif9dk/9Mgv9Rhv9CZv86X/I9XtttpP9poP9gl/9Ia/9bkv9Tif9Ohf9aj/9Viv9DdP9Aa/9Wiv9NgP9LgP9Ge/86YPxZjf9jmf9imP9akf9Zhv9xp/88Zvo9bf9Ac/86X/g/ZP9Cc/9dkv9Phf8+avpkm/9mnP9flf86ZfhXi/9JgP8+avhhmP9LeP9Ngf89aPVZj/9Ui/89a/I+bPg7Xuo8YOA9Zuxso/9pn/87Yf89XdkLdUPNAAAADnRSTlMA5JdcCsj8XNW9wNWX2WADQu4AAACFSURBVHheYyAOyMIBTERAT19K2kpHRACuRtzbx1LGjE8cLsCopW2taytkAuMzOTqIuLiKifpC+cwqqnJ88grqGpoQPougmqKSmLKBoZExRIDVlE/Y3IKNXcJGAiLALyxkZ88BYvBDBDycRJ05ISyIAJebOzeqBzy9eCAMOJDkRfeeH5wFAMY1DjRK0h15AAAAAElFTkSuQmCC);
}


/* Переходы с поисковых систем */
.icon-source_id_2
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAnFBMVEUAAAD6VDD7TC36Rir5VzL6Rir7TC37PSb6VDD5VzL7TC38Kx7/ERX8NSL5VzL7PSb7TC3/FxX+Ihn+Ihn/ERX+Ihn/FxX/FxX/FxX/ERX/Dhb/Dhb/ERX/Cxj/ERX/Cxj/ERX/Cxj/Cxj+Ihn/Cxj/BRn/ERX/Cxj7TC36Rir8Kx78NSL/FxX/BRn5VzL+Ihn7PSb/Bxb/Dhb6VDD6qoTHAAAAJnRSTlMANT+oqE3T0/YSEj8/P/n59qjT9/avTT/b9DX20xKO+RL4sPmogKV13pAAAACISURBVHhebY/VDkIxEAXpVRfUXbZ6Bfj/f4PuBpImzMskk/NyRv9Ig6rrqiD9Bpa8kIRRyBohIs+LhGgyDL6UoXUopY+hHmKaxkON1rqkUGqNViqnkCuFvvYTCvN+ih4bs7BeGrPCcJoB7IrisAYAmm62zx9U9rcj5+cLtzifHh/cl217Rzu8AcVQDb3SM8jIAAAAAElFTkSuQmCC);
}


/* Переходы по рекламе */
.icon-source_id_3
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAA5FBMVEUAAAD/syjPeADPeAD/syjPeADPeAD/syj/syj2qCH/syjPeADPeAD/syj+sifPeADPeADPeADPeADPeAD/syj/syj/syj/syjwoBz+sij7riT9sCb4qyPfjA3/syjPeADPeADXgAbunhr+sSfPeADSewPwoBz4qSL/syj/syjxoh7/7rznlhfsmxjPeADQewb/4Ij/45TRegHkoC7lkxLmlBPTfQPqmBfrmhfrmxjUfgTunhrvnxvVgQn0ph/2qCH2ymX3qCH3z3X5qiP51Hn7137+sijXggfXgwvhmCP/67LjkBBlqb6EAAAAKXRSTlMABh0oLjg+PlJzc3yEhJujp7TE0dHb7O7v7/T09fb29/r8/f3+/v7+/vfsdKcAAACZSURBVHhebcpFDsNAEETRCjM6zJy02Q4z8/3vE8+MlZWf1Iv6aniKVXravCuFIQRrxGl2Vuw+uQ52hoWqMxTlo1ym8koPAXFigbm9HhsJKIhgqM7RtwOU/h/3PS11oMyDZZmn95HWTiiKYMiyTDRrAym2OYPomQd8LSJVMfnHbhAAEJ2Q67pIgonUxd4OE3ClG+PzqJnzw8sPUzwctSTvMHQAAAAASUVORK5CYII=);
}


/* Переходы с сохранённых страниц */
.icon-source_id_4
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA6UlEQVQ4y62Ty22FMBBFj1EagH5IE6wikKiCetiAsnITSQFpBLFi439WToxNnlCS2Yx/9+qMx4Y/hgDo+/4NaAGWZXkoGIYhDt/XdX1+AvDet03TIIRg27ZC1HUdAFJK6romhMC+7y1ANMB7fwvZOUfUnAzixq8MnHMPDaSUhUHMBcE0TbdICgJrLfM8f7dHiOu2CcE4jmeCWEJczMX5PD17MrDWngQhBKqqKowKA601SimMMT8SpGtKKbTW5SUqpb4OpvmqhMs2RoKcIjcpSvDeY4w5EVwJ0zvIX+LrcRwvyUe5Ex/8R3wCfFy4EB9Bj84AAAAASUVORK5CYII=);
}


/* Не определён */
.icon-source_id_5
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACrElEQVQ4y6XTvYtcZRTH8e/z3HtnZu+8ugbMsiwsRFBJfCvERtCkzGbAwP4HFoKFi2IGqyViQNDWxkIxTYyFwTRWykSyaWxisUPWxmyxVdbsZOfezL3Pc54Xi5WgaCpPeTh8OAfOD/5nqf9qXv/++qdJmryjUO2oQKOIxBLFF2tn1z54LPDdtWuvZml6s9FoZHmek2UZADFGnBOqeY3zrg4hnB0Oh+N/AFevfvvKwkLrl3whp91pk6QJJ0+eop3nlGXJzzdu0B8MqKoKEUGsPfPm+fNj/WgVrW6lWUar1UJrzUsvvkw7z/He0+l0WDt3jru/36XZbJAkCSHyA0ACcPnry5+kWfZ6r9tFJ5per8fS0hJbWzfZ+W2H5eVlsiyj3x+wu7tLnueISLq+vt5PAZz37zayjBAiSinKhyW3b//KYPAE3W6PGCIA+3/co9VaIEbQWuOce0sDWGtypSB4h/ceFSHGgIhjcXGRvJ0TfGDnzh3aeU4IHq003vveX4BFxCHO4ZxDvMdaSwielZUVIHLlmyucOPE0PjhCCDjvEWtJAUQE7z0iQpIk6CQheM/q6ioA4/GY48efOsLF4Z0jeIcVdwRYax/O5/O21hqtNQBJmrK9vc1kMgGlUEpjrME7jzihqmucyOzoBGM/n80OsWKxVjDGYOqaJ48d4/TpN+h3uxwcHCDWUtc11liKWYE4+UoDXPzo4oeHhzNTzkqMqajrmvm84rlnnkXrhFPPv8De3h7GWEQss6KgKMtqY2PjvUePVNf1mf39e0ynDxDnsNawPZlgrOXW1haD/gBjLNPpA+4f3I/GmuG/sjAaXXit0Wj+2Ol0mv1+n2aziVIKrTUiQlEUlEVRRRhubm7+9Ng0jkajz3Si31aortIKhUJrNYtRfXnp0sfv/332T6/WYK1qQ4xOAAAAAElFTkSuQmCC);
}


/* Переходы с почтовых рассылок */
.icon-source_id_7
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAnFBMVEUAAAD///+EpNz3+f2fuOSlvOWHpt11mdiOrN+uw+iVseH9/v/6+/38/f6Ip96Nq9/O2/HW4fPn7fjs8fnw9PuZs+K0yOq2yeu5y+u/z+3C0u7F1O7I1/DN2vGbteN6ndp3mtizx+qXsuKYs+KSr+Cju+X+///y9fvz9vv09/ymveb5+/2swef6+/77/P6et+P9/f6UsOF9n9p/oNuCMi1+AAAAAXRSTlMAQObYZgAAAG9JREFUeF6dzjUSwzAABdF8ycjMEGSG+9/NlmQVHheZyZav2sVf6ZMGWH0jjCUag09LYgHULzig8o4MnLcJAch9CrwU1ZYA03IOl9SFBPumKWvyvEtw99lD3Z7rDRVw7Urwgt2JwdJqMBYa+vz0Zz3R6gflu4k9IwAAAABJRU5ErkJggg==);
}


/* Переходы с социальных сетей */
.icon-source_id_8
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAMAAAD+iNU2AAAAulBMVEUAAACFZa2FZa2sgt+GZq+tg+GgedCdd8ytg+GFZa2tg+GFZa2eeM6rgd69pNyGZq+FZa3///+tg+H9/P7GqOqrgd7q4PfHqurGqer8+/7Co+mdd8zOte3Iq+vt4/i0juSwh+Lo3PfUve+xieLSuu7VwPC4lOXZxvG3k+X07vvJruuxiOLLsezg0PTy6/r7+f349f3TvO+1kOTn2/bNtO2yiuPIrOvAn+jNs+3FqOrGqei+nOeFZa3x6fqCjfeGAAAAEXRSTlMA/hTl1eIl/v7W39Uf3P7QEODhJu8AAAB/SURBVHheZc7VDgJRDITh4i7Trgrq7i7v/1oscJIS+G8m393QX9kUm+xcOkmUYS0sELHGdsL4MI96r71/vN1BBmP1HnEn9VkABGoXcTd18ACaLXW7A3RZzQ7QN84zD0c+MJnO3n+KvFiKiL9aO5uwRFSuNI6eZ1kX91qt1emnJ22wEhd/MsjlAAAAAElFTkSuQmCC);
}



/* Файл сгенерирован с помощью icon_generator */