/* Файл сгенерирован с помощью icon_generator */

.icon-protocol
{
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* mailto */
.icon-protocol_id_mailto
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAnFBMVEUAAAD///+EpNz3+f2fuOSlvOWHpt11mdiOrN+uw+iVseH9/v/6+/38/f6Ip96Nq9/O2/HW4fPn7fjs8fnw9PuZs+K0yOq2yeu5y+u/z+3C0u7F1O7I1/DN2vGbteN6ndp3mtizx+qXsuKYs+KSr+Cju+X+///y9fvz9vv09/ymveb5+/2swef6+/77/P6et+P9/f6UsOF9n9p/oNuCMi1+AAAAAXRSTlMAQObYZgAAAG9JREFUeF6dzjUSwzAABdF8ycjMEGSG+9/NlmQVHheZyZav2sU/6ZMGWH0jjCUag09LYgHULzig8o4MnLcJAch9CrwU1ZYA03IOl9SFBPumKWvyvEtw99lD3Z7rDRVw7Urwgt2JwdJqMBYa+vz0dz3Zzgflwnm8XgAAAABJRU5ErkJggg==);
}


/* torrent */
.icon-protocol_id_torrent
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAAD///////////////////////////9nNpWjisHMwN7XzeXk3u7x7vby7/eKa697VqStmMi2pM98VqSDYarXzuaKaq51S57y7vaTdbSbgLuYfLiCX6ihh7/e1urg2etuQZmSdbSJaK3Bstf49/v9/P3Lv95S5HMTAAAAB3RSTlMAIGDA0PDzADYBDgAAAJdJREFUeF5lj0cWwyAMBbHB+RLVvaT3+x8xgO1VZiUG6UlfJEqJiCzFSqFgOGKgivyu3EiZ0VXJKNfRRudUnEf675sl96AU0sSiBRpKGCnARAx9al5cpyqJO3RtvbaB6JHFgmDtRJGtg0HQtAtpoph2YWRaG8AtwrY2H2b9ecDA/fGt1tMv8M+j9vgcii3cdcb8veVwf/F/lcIJREMoioYAAAAASUVORK5CYII=);
}


/* skype */
.icon-protocol_id_skype
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAbFBMVEUAAAAArvAArvAArvAArvAArvD///8JsPETtPEluvIou/JRyfVYy/Vmz/Zs0vZ41feR3fnP8P3y+/4GsPCI2vg1v/Oh4vmr5fqw5/q26PtKx/Td9f1CwvR/1/geuPIZtvLB7Px71vjt+v6d4Pk4IcWDAAAABXRSTlMAHR9VV0WhAPgAAACoSURBVHhePc7njoRQCAXg6yhwe7XX2d33f8dFnfGEP3wJJwjRAOclnjQUp8EVxuYG4P1vc2ZedXldwPuPey9pMh2dAkPf+owpYTa6nOBj6LHfVftrFXFPRa2PmKMnIq4+b4JfR0TMI8ANTgHobcoYvwBzOgAcpvvDGqDFxdsF4+emSOozIo5SyuOESnZKWb/rjsPAQp0xlsfa9YKrB8ocgim1eFIBpxb/rT8KHq/2KcEAAAAASUVORK5CYII=);
}


/* tel */
.icon-protocol_id_tel
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAElBMVEUAAABNmlFOmlFOm1FOm1L6+uhqQWoEAAAAAXRSTlMAQObYZgAAADtJREFUeF5jIABYjKECwsYGYAEmYeNgsICxgilYhNGYgRksYOTAAAbMMC1MwgZQEeVgqJArVASqBRMAACgfBBZAe9aEAAAAAElFTkSuQmCC);
}


/* rss */
.icon-protocol_id_rss
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACQ0lEQVQ4y62SQUhUURSGv3vve/NeE1MkMg1hAilFIpIaRpG7BGIU2kSAWEAB7VxV7SJoU61HwF1QEFKBmFREFAVkkKoZKVFkOSaizuik+mbee/cGOIWD0aa+zQXOPd8PnB/+EQHwqY2EgV5tSABbBGghisM//AemgWR1HzMWgIFemdjT5PmasmOnEfkcOvMF5iawHYXjSJQjUbZCSg3oePrpWD/QsC4w7AuMQFXuZ1f71ZLI1XcP8QdSqDCDbUtQEgIPoB7AAhACaTkSywqZvn0RIQVqe5xoVSOxulaoa6UwdAs90o0UEqTzO8AqvlragmDxG2YhBn4WPbXE0ngPKx+a2XHkLE7DGfyIC2+7MDrcJAAJprySis57AHifX+GP3cVLv2S29z3xtpu4tafIv+nC5OY3rq1jRxROJGTheYrFwR7cqmZiJ1LEDpzEyU4w/+gKANR2EHhBqUAA7labGFnkYBfek0tMdydZm3yNe/QC0YpGgvQQmRcpnEPn8AuiVKANaFNAe3NYQZaY4xPJjDH7oBOASNN5CCGfmQHAlNWUCkIDy2tZrJZrxC5/x2m5jhtRkJslN3wfZ28Lwt2Jv7IMQGiVbRIIH4jWHAfAqmtHGoElBP7CJADKLYcQAFSitvQKSiCjrmJ14jHbDnbgj96BUOBIiZ54RmZyBD01TphdIX2jndXRAdTGbn9sZSh+eHc9tkIgUEagfQjy4BdAF6CwBr4HYR6kCBE/vg5X9xWrLAXJ+YGp/l/1/BvF5GEgyf/gJ+pr2487eTObAAAAAElFTkSuQmCC);
}



/* Файл сгенерирован с помощью icon_generator */