/* Файл сгенерирован с помощью icon_generator */

.icon-interest
{
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* мобильная связь и интернет */
.icon-interest_id_1
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABJklEQVQ4y43Tu0qccRDG4Wc+NmlEtUlhZypLsVQsFG9CSBGChAURVcRgmyoL20gqFaxSCcGAnWLlaUEvwEIsrLXQC8h/bEXY3e+FaWaG3xyYidxyjhnd1YmW6W7BSpqRSKIloiWkEYlEmuoB15AA5A8JUm1FbnqOtpFuCbkp8Qfz+IQnnOJntN1XSp8SBUVHMRltHxXjinPFWW6YaNQC8ICjXFcprjCAVfxq9J03wSG+4h4dHOAf9up2cB2/HUCueMQNKkRdwC3ksjHFKK6xgMu6gLlcMqfYAsxiGfN1AcdYwyH+4zNmY8dd3SWe4SR2vWA3m4awnU1DdTv4gu38bhDPig/4i6XIxf6HG/ui1zN5Yy+xL975eqqSLt4kD+c3+Q5w2QvwCsViece/ndpjAAAAAElFTkSuQmCC);
}


/* автомобили */
.icon-interest_id_2
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABGklEQVQ4y63PMUtXURgH4Odc/toYuAqJS65OYiJ/aFLBvQhEcGkJ4aKDkwS6OCS0hHBRoso5oiFBxPwOIm4NfQAHt3MPr4tDYHVFe+C3ve/vvCf53X5UGMaAPyv45UUqAAnAxxjEMZ74t1NMW0gXUAFoPdN6fJ2hv+SR1gOtlzd7mzjRxBtdmljVxLkmElTgXYzJpmV7nQXZB9morA/J2xjBLvr44XYmcYalntZ7TGEbTzHRsXyJL5jH10o2Lju0ktZktUxHtqykBdmmbLQnS+jbiGXZ7C3On7ERh7I5SNbjAg/dUU92Lz2t11jEOH5ip2Pn+c3ZOj6rI9Rx3PlkHZ+uZ0+gAsWRoii+dRYUB4pW8f3uH38Vyf9yBazyca8Z8w/9AAAAAElFTkSuQmCC);
}


/* B2B */
.icon-interest_id_4
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABOklEQVQ4y+3QsUuVURjH8c+RS4VgYwRBUyo4RFlQDdIlJ+HikjQ4OGQYbREETTVGkKvqcJcLF0ScSoSbSF5oDTeHIESkQSSXlOK8B4/LK4j6DwR+4dk+/IaH/76QV00A/mEzVLXPgnnVI9zAAX5jOVTthbwin7BvwqAPpwZWNDEKgDXc7ZCQDEg6JZOSEcgt93NLM7c8g9JNSyqSB5Lbkt6KAnThEjqxBQpP8B6LeVGzdBdxGRdQYLtDRLQk2hW9EM1CqHkluiL6FWr+lu5p6dqihVCzWxHBW2zgMabynB70iz5iGEr3BXV0412eM3M08DWM+ZYb1vEdVzGD62jnhlul+xnGzENuGMW9ox8M57qbCkP4g50w7g4A5Droy3UTuKbQgx8VCbwGbONleC6C4yXwsLx9fMJn5zkE8v91HNELPxYAAAAASUVORK5CYII=);
}


/* финансы */
.icon-interest_id_8
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABxklEQVQ4y43SUWjNcRTA8c//3rt7FRHlzQQ0DPIiFBYh1ZSKF6Ha04qosPDiaUKJpJKt8qK9iFo0LSt5pALaEJYXpbEr1drubzterpqL7Fvf6pxO55xOJ1PDmkel9WjFLswFlPEY155vGX0AABnA6r7SNFxFy+T8X+jGwRdbR8uQwareUgk9aDI1+rHp5fbRrzmIFO2RoilSmGTUxJNdHik6IWvsLi7EAIqvm8cyaOwu5lDAWZzCWxzGM5RwEkewpRAp9qMIsOJOXUSKCs7hAo5jNy6iGV+wFitxoBApNgNApICJquMYwCCOVe1AP2aivhAV9QDQvzdlsOxWYQZuVQtX4QkAAOYVohIjANBwM/8NohLTUcRLvMJiwH00AEYKE8l7rH3XMp7Bm0PjcwCWdubLmIaNeAiAp8gjcpGiJ1JYcj0XsOR6Ln4ZKWZFikWRYihSXIoUE5GiHClaI8X3SHEvF0lXJJ8jAZH+MB/J7Uh6I1kXyc5IDkeyIZLODBZdyfah6z8vXMuZD0ejPQ/DPV7P3pGNCdsEU/CG0Db8oGbiwov24DLm/2PqEE6j4+MJ4W8rLziviGbsxHzU4RP6cHewzQ8A+AkXIPbixC7qrAAAAABJRU5ErkJggg==);
}


/* семья и дети */
.icon-interest_id_16
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAA3lBMVEUAAAAQT7UAOps0gfM0gfMweuslbNksduYlbNklbNklbNklbNkweusyfu8hZtIsduYhZtIhZtIsduYpceAyfu8pceAcYMscYMscYMscYMscYMs0gfMcYMscYMscYMsYW8MweusYW8MYW8MYW8MYW8MYW8MYW8MUVbwUVbwlbNkUVbwUVbwUVbwQT7UQT7UQT7UlbNkhZtIMSq4MSq4hZtIIRagIRaghZtIhZtIhZtIcYMsAOpsAOpsMSq4IRaghZtIUVbwQT7UYW8MlbNkcYMssduYyfu8pceAFQaMCPZ7/J0v/AAAAPXRSTlMA1VnyhSdz9erl3qk21M6x+7+FOLdAlDeLv9Rq1YzDRI731NJpOJKg8WMCf4AHr/LBuzWEHkEgpPpCL2dlY1+GPgAAAJFJREFUeF5Vx0UOAzEQRNEKMzMzM6PtwcD9L5RuZWHN+4tSQQsGGvBIvYrwSHZDnp9x3UgeWuHNSmCzWBhIRG3bjm/BdiqNYzanlLpcbyD3cgXVWt1xnGarDaBjWb3+YGix0RjAZGoYcywMtgSwWm9ME/CZzAdgfxBCgAiKnc5SShBJ/X0oPeRL6SF+ijzwpPkBNYkV7uBF6vMAAAAASUVORK5CYII=);
}


/* туризм */
.icon-interest_id_32
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA80lEQVQ4y53SMUvDYBCA4aehWEsVOjg7ubmKcyZH3XVxc6joT+jiPxL/hQgiCIIgdelSEEeH7+ISapsmre3BRzju7r2XIyyJL46tiGxZsWBg05iwN+FnVV+7qRBcYWuj7WPaY0ZjijLP17pBcBbsByAYrgVIXCckQCL/bLBYAHxwmMgrAKnBIqvZfpP+hmYB+XuNxRzgjX7ivAFQa5FVtl8mdpYA8teKxRTwQpYYpPmBKmDBIgMIToKDQDB9KnmQP89YtOou+0QfHfSwi+3y20MHfXQxasEjQ9yWjd1//rAPuMgguAvug24sKldfUfafHvH9CwV5ZYcxEVMLAAAAAElFTkSuQmCC);
}


/* премьеры фильмов */
.icon-interest_id_64
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEUAAAAqKiosLCwvLy8zMzM3Nzc6Ojo+Pj5DQ0NHR0dKSkpOTk5SUlJVVVVXV1dZWVlT6qBWAAAAAXRSTlMAQObYZgAAAFtJREFUeF49wDENg0AUANCXAIELZcACCk4CAwJQ0RkJjIzo6IQEBDCgBAtt8oc+vgFPwH3TdbhOXheOg7bFJ2DfSQnbSrNhWahrvAPmmarCNFJOyJmiwBDQB38/JnweSfJrJ48AAAAASUVORK5CYII=);
}


/* фото */
.icon-interest_id_128
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAgVBMVEUAAACbm5uQkJCbm5uUlJSenp6Dg4N5eXmHh4ebm5uUlJSUlJSHh4eLi4t5eXl/f3+QkJB/f3+Li4uYmJiDg4OQkJCDg4N/f39/f3+Dg4OYmJh8fHyQkJCDg4N8fHyUlJSLi4uHh4eenp6goKCbm5t8fHyYmJh5eXmQkJCDg4N/f3/sFrU7AAAAH3RSTlMA7uVtEO5HgObm+W4S5vluSPkS9eFv4BIRb/j3dnb6CIGHEwAAAGxJREFUeF6NxkUCAjEUBNGOjiuuSVC5/wHh94pZwdtU4U9nAtGJ4BwAUyilLvRJYbC9TcwQAhDKytqqDAIPsei17vdcRDE2MTYjF0nUeUp5zcVTbPxy7g9cvMTQrdbdwMXxOrFD1t6/tBl+egOOzhP9ddumaQAAAABJRU5ErkJggg==);
}


/* строительство */
.icon-interest_id_256
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABeElEQVQ4y63SP2hTYRQF8F/Sp6jEoYKVIg7GqSBCi+Ig2BQJpdqA0oLgpJuKDkUUUXAUHBx11cVFHCQ4mE2HggXJYIbiEgQz2EBxKRHf5/vikiFDXlXwwJ0O58+93IJ/QN/yJM7hLEq4WNhO8MtSEcexOBBOY1iznmxnkIlPcBUAsIEWDmMqt8GW85Noo4On+IRWyevugH+BS7kNgriCXbg1rl4fwYORBl2L40G8hrUJb+o5AaAIHQvXASCV3UxlpVR2L69hKpPKeknb/L5UnGqb34E5TKdibehQOQYRusUg3g3ijSDOBfFoWeNRWeNEWeNYEONn1d15KwRxM0nF24AGfrSc2RpKOYgVPBzRoIdvhaZK/y+e8O2MdwsATZUCPmI9CSL4AyprTo9hAstBrGIGY0nQD+hhc4RwL/ZjJw5gAzVUAXuSTFzCFbzCS3zAZRTxDHdmrT4HeO9UDQ9wBI+TTP8LvuMQLqCDk4CvgwEwa/Un7vtf+A3uroSo8TS8TAAAAABJRU5ErkJggg==);
}


/* кулинария */
.icon-interest_id_512
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABH0lEQVQ4y9XSAUSdURjG8V/TEoKyCAZsVUTAIHVdMVBGRQAlCDGlAQaABCKKiIgJhLGgXFJSkAAl0YUt0gjCuacGXxy3Ly6CvRyPh/P+z+t5D/991aXmwkEB+xjADvqqfOGD3hIA1KfmQRzFHcbwByOZH838xLm9q3b9l7kTnCm14hYtL2grrjsUHwHeAEBUmexQjInOVvnxtDkPUJPmhnjqZwFbaH4h8Hvc4FePoalnE0ThcxQao7AdhaMoSE45Cp1R+BiFttwtVIQyuj4Zu4Jjm0UM4jfW8R09+JYLiMIa5g5tfMVdFBawjBas4gtgEMfPAA8q3Qn9HeYBAH8B7a/7lUtWynifvFBLNeEtTupg11IDfmC4RsAiZgZMP/4DpcB3N4NNLoIAAAAASUVORK5CYII=);
}


/* программное обеспечение */
.icon-interest_id_1024
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAe1BMVEUAAAAbuuogw/8dvfEgw/8dvfEcu+0auOYgw/8gwv4cvO8cvO8dvvQcu+0gwv4buuogw/8cu+0buuobuuobuegdvvQbuegaueccu+0auecbuuocvO8dvvQdvfEgwv4ev/Yauecbuegcu+0ewPgauOYcvO8fwv0fwfsfwPkDlCYJAAAAHHRSTlMA3e7u/Pu+pcAhIvIgzCATwdLUIIgfluj86s08/JKHGwAAAGJJREFUeF5Vx1cOgzAUBdGBmFrSewyklv2vMDJ6uorPz2igdKm4JTBUyHwA3lqbj87mq7N56GxGnY3fIa0H+mwmWQ+8Jpe6mQrk92DVHUNyRBbn5M96w/YW2XO4Rk4Uz0jxA/svDDSZoFqyAAAAAElFTkSuQmCC);
}


/* недвижимость */
.icon-interest_id_2048
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAADyhlHug0fcdBnieSjpfjnyhlHrgD7rgD7nfTPieSjxhU7gdyPug0fedh7yhlHkey7cdBnrgD7bcxXwhEvZchHpfjnYcQ7nfTPZchHcdBngdyPbcxXkey7ieSjedh7YcQ7whEvxhU7rgD7tgUPug0fpfjmLAaiXAAAAGHRSTlMA3d3u3d3u7vDw8PDw4PDg8PD28PDw8PAPG/GPAAAAXElEQVR4Xi3FhQ0EQQDDQB89MjND/yW+Vo4zUuhVlebYKxhjz2CDfetaU+wTEO/ol1YD+HVdgdvBQdkQrsoWcGvbAjeCs7IJ3JXN4NQ0BW4JF8Ot4Wj5LTwsv+cPCPQMSB/x6FsAAAAASUVORK5CYII=);
}


/* здоровый образ жизни */
.icon-interest_id_4096
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABJklEQVQ4y53RsUvVcRQF8M/39QIVAiNCcVKiMGhpC5qE7uKkkFuCTU5how1BUM0N/Qct4t9wN4UWddOWhBZBIR3cQsSvyxsez/f8aWe58D33e+459xYNqBHfMIftkrnQy7c14z1gsh/ZvmbyCJ5hD9NY67zfxd+SOdpXoEa0sI7XPdR2jZjCBhYByoDpFUt4g5cYBsCXkvmxKcJj/MY4jgD7SHx1E9SIe516WCNOBvWVBpEHOIaS2be31WDkbZfYw4ECNWKmRuzUiLmuD228A5xiCVcj1IiCX3iCC/zBd4xhBU/xExWPSuZ5r4M72MIk7uMTPmMVH0rmAV5gAq/8L2rEZo34cdsldmMZ853d3OyMfVzs4R+G8LxknrVumeQcu5gtmWdwCSe4VDbiB8JcAAAAAElFTkSuQmCC);
}


/* литература и учебные материалы */
.icon-interest_id_8192
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABAUlEQVQ4y6XTwSpEcRzF8c/NkDSTvIDUjJJHIMobeAK2KpOUSuUBVOomVlJSlvZUNt5ANipzVTZW0gyGZO5fNRhphunOWf/Pt3POr38Eo5vFMexjBgO61O16EuVACIeYlUE5iNIwncEbvgFC2pcBUGsB0lRWfVboFdAIvQGkDT2NGDUyVWg74gte/zHm0d9uxAMsJVsPb52cxbWROZzgDEetBM0KG0lcfSuuDndetPmuhvkkrj7/TPCOO0jiatTJX1opXCBUth+ff10hRJjAVamc75wgDXBfKucHKztPrxDB+PLQOd6xgPofA07iFJc4vt6tx18JFrGHmy6/8xQKiD8APmVZpht1R+wAAAAASUVORK5CYII=);
}



/* Файл сгенерирован с помощью icon_generator */